body {
  text-align: center;
  margin-top: 40px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: lightblue;
}

div {
  background-color: burlywood;
  margin-left: 400px;
  margin-right: 400px;
}
